.QueueManagement__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 1.5rem;
}
.QueueManagement__flex {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}
.QueueManagement__col {
	flex: 0 0 auto;
	width: 33.33333333%;
	max-width: 100%;
	padding-left: 12px;
	padding-right: 12px;
}
.QueueManagement__list {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
}
.QueueManagement__list-item {
	position: relative;
	color: #212529;
	text-decoration: none;
	align-items: center;
	display: flex;
	background-color: #fff;
	border: 1px solid #fff;
	justify-content: space-between;
}
.QueueManagement__list-item:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.QueueManagement__list-item-btn {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
}
.message {
	margin-bottom: 1rem;
	color: #055160;
	border: 1px solid #9eeaf9;
	margin-top: 1rem;
	--bs-alert-color: #055160;
	--bs-alert-bg: #cff4fc;
	--bs-alert-border-color: #9eeaf9;
	--bs-alert-link-color: #055160;
}

pre {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	font-size: 0.875em;
}
.QueueManagement__col-4 {
	flex: 0 0 auto;
	width: 66.66666667%;
	padding-left: 12px;
	padding-right: 12px;
}
.message-container {
	background-color: #e7d3d3;
	padding: 1rem;
	border-radius: 0.25rem;
	color: rgb(58, 56, 61);
}
