.header {
	background-color: rgb(248 249 250);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header__container {
	max-width: 1200px;
	padding-top: 15px;
	padding-bottom: 15px;
  margin-left: 15%;
}
.header__link {
	text-decoration: none;
	white-space: nowrap;
	color: rgb(0 0 0);
	font-size: 1.25rem;
}
.header__img {
	display: inline-block;
	vertical-align: top;
}
